html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat--Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --brown-color: #cc9933;
  --brown-medium-light-color: #f0bf5f;
  --brown-medium-dark: #a47312;
  --white: #ffffff;
}

img {
  max-width: 100%;
}

body {
  width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: Montserrat, Helvetica, sans-serif;
}

/*** global ******************/

.container {
  width: 100%;
  margin: auto;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  list-style-type: none;
}

.section {
  padding: 0 75px;
}


/*** header *****************/

.header {
  margin: 0;
}

.header__container {
  /* min-height: 100px; */
  justify-content:space-between;
  align-items: center;
  border-radius: 0 0 32px 32px;
  box-shadow: 0px 5px 40px 0px #0000001A;
}

.nav {
align-items: center;
}

.header__logo {
  padding: 14px 0px 14px 75px;
}

.nav__list {
  align-items: center;
  margin-right: 75px;

}
.nav__item:not(:last-child) {
margin-right: 85px;
}

.nav__link {
  font: 600 16px / 22px Montserrat;
}

.nav__icon-search {
}

/*** hero  ************************/

.hero__content {
  width: 100%;
  padding: 100px 80px;
}

.hero__title {
  margin: 0;
  width: 837px;

  font: 800 70px / 85px Montserrat;
}
